body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(192, 230, 217);
}

.link {
    text-decoration: none;
    color: black;
}

.link:hover {
    color: brown;
}
