/* Elements */
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: hsl(210, 46%, 95%);
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 13px;
    font-weight: 500;
    color: hsl(0, 0%, 81%);
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

p {
    line-height: 1.3;
}

h2 {
    padding-bottom: 1rem;
    line-height: 1.3;
}

/* Main Styles */
.big-font {
    font-weight: 600;
}

.title-font {
    opacity: 0.5;
}

.review-font {
    opacity: 0.7;
}

/* image-style */
.img-border {
    border: 2px solid hsl(0, 0%, 81%, 0.5);
}

.con-pat img {
    border: 2px solid hsl(263, 55%, 52%, 0.5);
}

.portrait {
    border-radius: 100%;
    width: 32px;
    height: auto;
}

.quotation {
    display: inline;
    position: absolute;
    float: right;
    box-sizing: border-box;
    margin-top: -2rem;
    right: 2rem;
    z-index: 0;
}

/* Containers */
.main-con {
    margin-left: auto;
    margin-right: auto;
    max-width: fit-content;
    height: auto;
}

.up-con {
    max-width: fit-content;
}

.down-con {
    max-width: fit-content;
}

.inline {
    display: inline-block;
    max-width: fit-content;
}

[class*="con-"] {
    padding: 2rem;
    border-radius: 0.5rem;
    margin: 0.75rem;
    display: inline-block;
}

.con-dan {
    background-color: hsl(263, 55%, 52%);
    position: relative;
}

.con-dan>h2,
div,
p {
    position: relative;
    z-index: 1;
}

.con-john {
    background-color: hsl(217, 19%, 35%);
}

.con-jean {
    background-color: white;
    box-shadow: 20px 20px 60px -60px hsl(217, 19%, 35%);
    color: hsl(217, 19%, 35%);
}

.con-pat {
    background-color: hsl(219, 29%, 14%);
}

.con-kira {
    background-color: white;
    box-shadow: 20px 20px 60px -60px hsl(217, 19%, 35%);
    color: hsl(217, 19%, 35%);
}

@media (min-width: 376px) {
    .con-dan {
        background-color: hsl(263, 55%, 52%);
        width: 475px;
    }

    .quotation {
        display: inline;
        position: absolute;
        float: right;
        box-sizing: border-box;
        margin-top: -2rem;
        right: 6rem;
        z-index: 0;
    }

    .con-john {
        background-color: hsl(217, 19%, 35%);
        width: 185px;
    }

    .con-jean {
        background-color: white;
        box-shadow: 20px 20px 60px -60px hsl(217, 19%, 35%);
        color: hsl(217, 19%, 35%);
        width: 185px;
    }

    .con-pat {
        background-color: hsl(219, 29%, 14%);
        width: 475px;
    }

    .con-kira {
        background-color: white;
        box-shadow: 20px 20px 60px -60px hsl(217, 19%, 35%);
        color: hsl(217, 19%, 35%);
        width: 185px;
    }

    .con-kira h2 {
        padding-bottom: 1.9rem;
    }
}



/* Boxes */

.person-box {
    padding-bottom: 1rem;
}

.name-box {
    display: inline-block;
    padding-left: 1rem;
}